body{
    background-color: bisque;
}

.p1{
    border-style: dashed;
    border-color: red;
    margin-left: 5px;
    margin-right: 5px;
}

.div1{
    background-color: aliceblue;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 100px;

}

.div2{
    background-color: aliceblue;
    border-style: dashed;
    margin-right: 100px;


}

.div3{
    background-color: aliceblue;
    border: 1px solid black ;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 100px;
}

.p3{
    color: blueviolet;
}